@model AzafranML_V3.Models.CattleDailyProduction

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CattleDailyProduction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cattle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cattle.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyProduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyProduction.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountProduced)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountProduced)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
