@model AzafranML_V3.Models.CattleDailyProduction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CattleDailyProduction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cattle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cattle.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyProduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyProduction.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountProduced)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountProduced)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
