@model AzafranML_V3.Models.Cattle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cattle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightInKg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightInKg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeedType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeedType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
